<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>eShop</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div class="root" id="root">
    <header class="header">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a class="link menu__link" href="#">Главная</a></li>
          <li class="menu__item"><a class="link menu__link" href="#">Услуги</a></li>
          <li class="menu__item"><a class="link menu__link" href="#">Цены</a></li>
          <li class="menu__item"><a class="link menu__link" href="#">Контакты</a></li>
          <div class="search">
            <input class="search__input" id="inputSearch" type="text" placeholder="Поиск..." v-model="searchProducts"
              v-on:keyup="filterProducts">
            <button class="search__btn" id='searchBtn' type="submit">Искать</button>
          </div>
        </ul>
      </nav>

      <button class="cart-button" type="button" @click="toggleCart()">{{showCart ? 'Close cart' : 'Show cart'}}</button>

    </header>
    <main>
      <section class="products__cart-list" v-if="showCart">
        <div class="product" v-for="item in cartItems">
          <img class="product__img" src="https://picsum.photos/100/100" alt="фото товара">
          <h3 class="product__title">{{item ? item.productName : '' }}</h3>
          <p class="product__price">{{item ? item.price : ''}} руб.</p>
          <!-- <p class="product__description">В корзине {{item ? item.quantity : ''}} шт.</p>
           -->
          <button class="product__btn-remove" @click="removeFromCart(item.id)">Удалить</button>

        </div>
      </section>

      <section class="products-list">
        <div class="product" v-for="item in filteredProducts">
          <img class="product__img" src="https://picsum.photos/100/100" alt="фото товара">
          <h3 class="product__title">{{item ? item.productName : '' }}</h3>
          <p class="product__price">{{item ? item.price : ''}} руб.</p>
          <button class="product__btn-add" @click="addToCart(item)">В корзину</button>
        </div>
  </div>
  </section>

  </main>
  </div>
</body>

<script src="script.js"></script>

</html>


</body>